<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishDir>bin\x64\Release\net11.0-windows10.0.26100.0\win-x64\publish\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <Platform>x64</Platform>
    <PlatformTarget>x64</PlatformTarget>
    <Configuration>Release</Configuration>
    <TargetFramework>net11.0-windows10.0.26100.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishAppxPackage>true</PublishAppxPackage>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <AppxPackageDir>bin\x64\Release\net11.0-windows10.0.26100.0\win-x64\AppPackages\</AppxPackageDir>
  </PropertyGroup>
</Project>
